@import'../../Styles/config';

.container-details{
    padding: 2em;

    img{
        border-radius: 25px;
        max-height: 50%;
    }

    .padded{
        padding: 2em 0px 2em 0px;
    }

    .centered{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title{
        font-family: $secondary-font;
        color: $accent-color;
        padding: 2em 0px 2em 0px
    }


    .indicator{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

.cards-building-details{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);

    .card{
        width: 25vw;
        margin: 0;
        margin-right: 1em;
        &-text-container{
            font-size: 12px;
        }
    }

}

.description-container{
    padding: 2em 2em 0px 0em;
}

.sub-title{
    color: $accent-color;
    padding-bottom: 1em;
}

.price{
    font-size: 24px;
    color: $accent-color
}

.horizontal-container{
    display: flex;
    flex-direction: column;
}