@import'../../Styles/config';

$color-lighten: lighten($color: $accent-color, $amount: 25.0);

.favorited{
    color: $background-color;
    background-color: $accent-color;
    i{
        color: $background-color
    }
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .indicator{
        font-size: 16px;
        padding: 1em;
        i{
            font-size: 2em;
        }
    }

    button{
        transition: all 0.5s;
        max-width: 80px;

        i{
            transition: all 0.5s;
        }

        &:hover{
            color: $color-lighten;
            border-color: $color-lighten;
            i{
                color: $color-lighten
            }
        }
    }

    
}

.title-link:hover{
    color: $color-lighten
}